body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #efd9ce; 
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.moodboard {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.moodboard button { 
  background: #b79ced; 
  border-radius: 12px;
  padding: 12px;
  border: none;
}

.moodboard button.selected {
  background: #957fef;
}